# Игнорируем виртуальное окружение
venv/
/venv/

# Игнорируем файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы баз данных
*.db
*.sqlite3

# Игнорируем файлы окружения с секретными данными
.env

# Игнорируем временные файлы и папки
/charts/
.DS_Store
